<ion-header>
  <ion-toolbar>
    <ion-title>{{restaurant?.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>{{restaurant?.address}}</div>

  <ion-list>
    <ion-list-header>
      <ion-label>
        <h4>Restaurants near by</h4>
        <p>Discover unique tastes near you</p>
      </ion-label>
    </ion-list-header>

    <ion-item-group *ngIf="menus">
      <app-menu [menus]="menus"></app-menu>
    </ion-item-group>
  </ion-list>
</ion-content>
