<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-banner [banners]="banners"></app-banner>

  <ion-list>
    <ion-list-header>
      <ion-label>
        <h4>Restaurants near by</h4>
        <p>Discover unique tastes near you</p>
      </ion-label>
    </ion-list-header>

    <ion-item-group *ngIf="restaurants">
      <app-restaurant
        *ngFor="let restaurant of restaurants"
        [restaurant]="restaurant"
        [routerLink]="['/', 'tabs', 'restaurant', restaurant.uuid]"
      ></app-restaurant>
    </ion-item-group>
  </ion-list>
</ion-content>
