<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-banner [banners]="banners"></app-banner>

  <ion-list>
    <ion-list-header>
      <ion-label>
        <h4>Restaurants near by</h4>
        <p>Discover unique tastes near you</p>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="" />
      </ion-thumbnail>
      <ion-label>
        <h4>Stay fit</h4>
        <ion-text color="medium">
          <p>Italian, Mexican</p>
        </ion-text>
        <span>
          <ion-icon name="star"></ion-icon>
          5.
        </span>
        25 mins , 4 km
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="" />
      </ion-thumbnail>
      <ion-label>
        <h4>Stay fit</h4>
        <ion-text color="medium">
          <p>Italian, Mexican</p>
        </ion-text>
        <span>
          <ion-icon name="star"></ion-icon>
          5.
        </span>
        25 mins , 4 km
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="" />
      </ion-thumbnail>
      <ion-label>
        <h4>Stay fit</h4>
        <ion-text color="medium">
          <p>Italian, Mexican</p>
        </ion-text>
        <span>
          <ion-icon name="star"></ion-icon>
          5.
        </span>
        25 mins , 4 km
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="" />
      </ion-thumbnail>
      <ion-label>
        <h4>Stay fit</h4>
        <ion-text color="medium">
          <p>Italian, Mexican</p>
        </ion-text>
        <span>
          <ion-icon name="star"></ion-icon>
          5 ,
        </span>
        25 mins , 4 km
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
