.banner-container .image {
  height: 20vh;
  width: 90%;
  margin: auto;
  background-color: #fff;
  width: solid 1px #ccc;
}

.banner-container .text {
  color: #000;
  font-weight: bold;
  text-align: center;
}
