<ion-row class="ion-padding veg">
  <ion-label> VEG ONLY </ion-label>
  <ion-toggle
    color="success"
    (ionChange)="vegOnly($event)"
    [(ngModel)]="veg"
  ></ion-toggle>
</ion-row>

<ion-list *ngFor="let menuItem of menuItems | keyvalue">
  <ion-list-header
    *ngIf="menuItem.value.items && menuItem.value.items.length > 0"
  >
    {{ menuItem.value.name }}
  </ion-list-header>
  <ng-container *ngFor="let item of menuItem.value.items">
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="" />
      </ion-thumbnail>
      <ion-label class="item-name">
        <h4>{{ item?.name }}</h4>
        <p class="ion-text-wrap">{{ item?.description }}</p>
        <p>{{ item?.price }}</p>
      </ion-label>
      <ion-row class="ion-add-row">
        <ion-icon color="success" name="remove-outline"></ion-icon>
        <ion-text class="ion-padding-horizontal" color="success">0</ion-text>
        <ion-icon color="success" name="add-outline"></ion-icon>
      </ion-row>
    </ion-item>
  </ng-container>
</ion-list>
